<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{- if .Site.Params.debug }}
<meta name="robots" content="noindex, nofollow">
{{- end }}
<link rel="preload" href="/fonts/lato-400.woff2" as="font" type="font/woff2" crossorigin>
{{- $css := resources.Get "css/main.css" | minify }}
<link rel="stylesheet" href="{{ $css.Permalink }}">
{{- $js := resources.Get "js/main.js" | minify }}
<script defer src="{{ $js.Permalink }}"></script>
