{{- define "main" }}
<div class="page-wrap page-wrap--sidebar">
<article>

  {{- partial "breadcrumb.html" . }}

  {{- /* Article Header */}}
  <div class="single-post__header" style="margin-top:16px;">
    <h1 class="single-post__title">{{ .Title }}</h1>
    <div class="single-post__meta">
      <div class="single-post__avatar">
          <img src="/img/avatar.png" alt="{{ .Site.Params.author }}">
        </div>
      <span>{{ .Params.author | default .Site.Params.author }}</span>
      {{- with index .Params.categories 0 }}
      <span class="pill pill--primary" style="font-size:11px;padding:3px 10px;">{{ . }}</span>
      {{- end }}
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 January 2006" }}</time>
      <span class="single-post__reading-time">{{ .ReadingTime }} min read</span>
    </div>
  </div>

  {{- /* Cover Image */}}
  <div class="single-post__cover">
    {{- partial "post-image.html" (dict "page" . "size" "1200x600 webp" "class" "single-post__cover-img") }}
  </div>

  {{- /* Article Body */}}
  <div class="single-post__body">
    {{ .Content }}
  </div>

  {{- /* Tags & Share */}}
  <div class="post-footer">
    <div class="post-tags">
      {{- range .Params.tags }}
      <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/">#{{ . }}</a>
      {{- end }}
    </div>
    <div class="share-bar">
      <span>Share:</span>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" title="Facebook">
        <svg viewBox="0 0 24 24"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
      </a>
      <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title | urlquery }}" target="_blank" rel="noopener" title="Twitter">
        <svg viewBox="0 0 24 24"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"/></svg>
      </a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" target="_blank" rel="noopener" title="LinkedIn">
        <svg viewBox="0 0 24 24"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect x="2" y="9" width="4" height="12"/><circle cx="4" cy="4" r="2"/></svg>
      </a>
      <a href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}" target="_blank" rel="noopener" title="Pinterest">
        <svg viewBox="0 0 24 24"><path d="M12 2C6.477 2 2 6.477 2 12c0 4.236 2.636 7.855 6.356 9.312-.088-.791-.167-2.005.035-2.868.181-.78 1.172-4.97 1.172-4.97s-.299-.598-.299-1.482c0-1.388.806-2.428 1.808-2.428.852 0 1.265.64 1.265 1.408 0 .858-.546 2.14-.828 3.33-.236.995.499 1.806 1.476 1.806 1.772 0 3.137-1.868 3.137-4.562 0-2.386-1.715-4.053-4.164-4.053-2.837 0-4.5 2.127-4.5 4.326 0 .856.33 1.774.741 2.277a.3.3 0 0 1 .069.285c-.076.312-.244.995-.277 1.134-.044.183-.145.222-.335.134-1.249-.581-2.03-2.407-2.03-3.874 0-3.154 2.292-6.052 6.608-6.052 3.469 0 6.165 2.473 6.165 5.776 0 3.447-2.173 6.22-5.19 6.22-1.013 0-1.966-.527-2.292-1.148l-.623 2.378c-.226.869-.835 1.958-1.244 2.621.937.29 1.931.446 2.962.446C17.523 22 22 17.523 22 12S17.523 2 12 2z"/></svg>
      </a>
      <a href="mailto:?subject={{ .Title | urlquery }}&body={{ .Permalink }}" title="Email">
        <svg viewBox="0 0 24 24"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg>
      </a>
    </div>
  </div>

  {{- partial "author-box.html" . }}
  {{- if ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02") }}
  <div class="post-lastmod">
    Zuletzt aktualisiert:
    <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "02 January 2006" }}</time>
  </div>
  {{- end }}
  {{- partial "comments.html" . }}

</article>
{{- partial "sidebar.html" . }}
</div>
{{- end }}
